# 复制为 pgbouncer-userlist.txt，并使用 `pg_md5 <password>` 生成密文
# 创建 Secret：
# kubectl create secret generic pgbouncer-auth --from-file=userlist.txt=pgbouncer-userlist.txt -n <namespace>

"naicha" "md5replace"
"stats" "md5replace"
